// THIS IS A DAKRPACK UI FILE

@use 'sass:color';
@use 'sass:meta';

// TFN EDIT ADD START - PERSONAL_OBJECTIVES
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Share+Tech+Mono&display=swap');

.Shr3kNet__TerminalFont {
  font-family: 'Share Tech Mono', monospace;
}

.Shr3kNet__CinzelFont {
  font-family: 'Cinzel Decorative', serif;
}
// TFN EDIT ADD END

.Telephone__PhoneScreen {
  background: linear-gradient(45deg, #76a0f4, #8a7bd3);
}

.Telephone__HomeButton {
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.4s ease-in-out;
  vertical-align: middle;

  &:hover {
    background-color: #ffffff50;
  }
}

.Telephone__CallOptionsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 5%;
  row-gap: 5%;
}

.Telephone__NumpadGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5%;
  row-gap: 5%;
}

.Telephone__NumpadButton {
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.4s ease-in-out;
  vertical-align: middle;

  &:hover {
    background-color: #0a05;
  }
}

.Telephone__ContactsElement {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #d26f3850;
  }
}
